* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

i {
  font-size: 60px;
}

i:hover {
  color: #F26C0C;
}

#triangle1 {
  top: 2%;
}

#triangle2 {
  top: 12%;
}

#triangle3 {
  top: 22%;
}

#triangle4 {
  top: 32%;
}

#triangle5 {
  top: 42%;
}

#triangle6 {
  top: 52%;
}

#triangle7 {
  top: 62%;
}

#triangle8 {
  top: 72%;
}

#triangle9 {
  top: 82%;
}

#triangle10 {
  top: 92%;
}

#triangle11 {
  top: 102%;
}

.black_triangle1 {
  top: 2%;
}

.black_triangle2 {
  top: 12%;
}

.black_triangle3 {
  top: 22%;
}

.black_triangle4 {
  top: 32%;
}

.black_triangle5 {
  top: 42%;
}

.black_triangle6 {
  top: 52%;
}

.black_triangle7 {
  top: 62%;
}

.black_triangle8 {
  top: 72%;
}

.black_triangle9 {
  top: 82%;
}

.black_triangle10 {
  top: 92%;
}

.animate__animated.animate__zoomInDown {
  --animate-duration: 2s;
}

.animate__animated.animate__slideInLeft {
  --animate-duration: 4.5s;
}

.animate__animated.animate__slideInRight {
  --animate-duration: 4.5s;
}

li {
  list-style: none;
  display: inline-block;
  padding: 0 10px;
}

a {
  text-decoration: none;
  color: black;
}

.container {
  width: 100%;
  height: 100vh;
  background-image: url("../img/foto.jpeg");
  opacity: 0.9;
  background-size: contain;
  background-position: right;
  background-repeat: no-repeat;
  position: relative;
}
.container .title_container {
  width: 50%;
  height: 50%;
  background-color: #EEDAB9;
  padding: 30px;
  text-align: center;
  position: relative;
  z-index: 9999;
}
.container .title_container h1, .container .title_container h2 {
  padding: 25px 0px;
  font-family: "Monoton", cursive;
}
.container .title_container h1 {
  font-size: 60px;
  display: inline-block;
  vertical-align: middle;
}
.container .title_container p {
  font-size: 50px;
  display: inline-block;
  font-family: "Roboto Mono", monospace;
  vertical-align: middle;
}
.container .title_container h2 {
  font-size: 50px;
}
.container .title_container h3 {
  font-family: "Roboto Mono", monospace;
}
.container .title_container h1, .container .title_container h2, .container .title_container h3, .container .title_container p {
  color: #353537;
}
.container .card_container_top {
  width: 50%;
  height: 25%;
  display: flex;
  justify-content: space-around;
  background-color: #EEDAB9;
  z-index: 9998;
}
.container .card_container_top .flip_card {
  background-color: transparent;
  perspective: 1000px;
  width: 300px;
  height: 100%;
}
.container .card_container_top .flip_card_inner {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.6s;
  transform-style: preserve-3d;
}
.container .card_container_top .flip_card:hover .flip_card_inner {
  transform: rotateY(180deg);
}
.container .card_container_top .flip_card_front, .container .card_container_top .flip_card_back {
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  border-radius: 10px;
}
.container .card_container_top .flip_card_front {
  background-color: #FFD152;
  color: black;
  display: flex;
  justify-content: center;
  align-items: center;
}
.container .card_container_top .flip_card_front h3 {
  padding: 30px;
  font-family: "Monoton", cursive;
}
.container .card_container_top .flip_card_back {
  background-color: #584A4F;
  color: white;
  transform: rotateY(180deg);
}
.container .card_container_bot {
  width: 50%;
  height: 25%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #EEDAB9;
  position: relative;
  z-index: 9999;
}
.container .card_container_bot h3 {
  font-size: 40px;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  font-family: "Monoton", cursive;
}
.container .card_container_bot ul {
  display: none;
}
.container .card_container_bot .flip_card {
  background-color: transparent;
  perspective: 1000px;
  width: 720px;
  height: 200px;
  display: flex;
  flex-direction: column;
}
.container .card_container_bot .flip_card_inner {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.6s;
  transform-style: preserve-3d;
}
.container .card_container_bot .flip_card:hover .flip_card_inner {
  transform: rotateX(720deg);
}
.container .card_container_bot .flip_card:hover .flip_card_inner h3 {
  display: none;
}
.container .card_container_bot .flip_card:hover .flip_card_inner ul {
  display: block;
}
.container .card_container_bot .flip_card_front, .container .card_container_bot .flip_card_back {
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  border-radius: 10px;
}
.container .card_container_bot .flip_card_front {
  background-color: #FFD152;
  color: black;
}
.container .card_container_bot .flip_card_front .top_card, .container .card_container_bot .flip_card_front .bot_card {
  width: 100%;
  height: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.container .card_container_bot .flip_card_back {
  background-color: #584A4F;
  color: white;
  transform: rotateY(180deg);
}

.triangle_right {
  width: 0;
  height: 0;
  line-height: 0;
  border-bottom: 50px solid #EEDAB9;
  border-left: 50px solid transparent;
  border-right: 50px solid transparent;
  transform: rotate(90deg);
  position: absolute;
  right: 45.6%;
  z-index: 100000;
}

.triangle_left {
  width: 0;
  height: 0;
  line-height: 0;
  border-bottom: 50px solid #353537;
  border-left: 50px solid transparent;
  border-right: 50px solid transparent;
  transform: rotate(-90deg);
  position: absolute;
  right: 48.5%;
  z-index: 100000;
}

.triangle_left_border_left {
  width: 0;
  height: 0;
  line-height: 0;
  border-bottom: 50px solid #353537;
  border-left: 50px solid transparent;
  border-right: 50px solid transparent;
  transform: rotate(90deg);
  position: absolute;
  left: -2%;
  z-index: 100000;
}
