* {
box-sizing: border-box;
margin: 0;
padding: 0;
}
@import 'partials/_mixin.scss';
@import 'partials/_icon.scss';

li {
  @include listStyle;
}
a {
  @include textDecorationNone;
}

.container {
  width: 100%;
  height: 100vh;
  background-image: url("../img/foto.jpeg");
  opacity: 0.9;
  background-size: contain;
  background-position: right;
  background-repeat: no-repeat;
  position: relative;
  .title_container {
    width: 50%;
    height: 50%;
    background-image: linear-gradient(to top right, #D8CDC5 0%, #DECAC3 50%, #FFFFFF 120%);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    position: relative;
    z-index: 9999;
    h1, h2, {
      padding: 25px 0px;
      font-family: 'Monoton', cursive;
    }
    h1 {
      font-size: 60px;
    }
    h2 {
      font-size: 50px;
    }
  }
  .card_container_top {
    width: 50%;
    height: 25%;
    //border: 1px solid black;
    display: flex;
    justify-content: space-around;
    background-color: #DECAC3;
    z-index: 9998;
    .flip_card {
      @include flip_card;
      width: 300px;
      height: 100%;
    }
    .flip_card_inner {
      @include flip_card_inner;
    }
    .flip_card:hover .flip_card_inner {
      @include flip_card_hover_Y;
    }
    .flip_card_front, .flip_card_back {
      @include flip_card_front_back;
    }
    .flip_card_front {
      @include flip_card_front;
      display: flex;
      justify-content: center;
      align-items: center;
      h3 {
        padding: 30px;
        font-family: 'Monoton', cursive;
      }
    }
    .flip_card_back {
      @include flip_card_back
    }
  }
  .card_container_bot {
    width: 50%;
    height: 25%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: linear-gradient(to top right, #FFFFFF 0%, #DECAC3 50%, #DECAC3 120%);
    position: relative;
    z-index: 9999;
    h3 {
      font-size: 40px;
      position: absolute;
      left: 50%;
      top: 50%;
      transform: translate(-50%, -50%);
      font-family: 'Monoton', cursive;
    }
    ul {
      display: none;
    }
    .flip_card {
      @include flip_card;
      width: 800px;
      height: 200px;
      display: flex;
      flex-direction: column;
    }
    .flip_card_inner {
      @include flip_card_inner;
    }
    .flip_card:hover .flip_card_inner {
      @include flip_card_hover_X;
      h3 {
        display: none;
      }
      ul {
        display: block;
      }
    }
    .flip_card_front, .flip_card_back {
      @include flip_card_front_back;
    }
    .flip_card_front {
      @include flip_card_front;
      .top_card, .bot_card {
        width: 100%;
        height: 50%;
        display: flex;
        justify-content: center;
        align-items: center;
      }
    }
    .flip_card_back {
      @include flip_card_back
    }
  }
}

.triangle1 {
  width: 0; height: 0; line-height: 0;
  border-bottom: 50px solid #E7D9D4;
  border-left:   50px solid transparent;
  border-right:  50px solid transparent;
  transform: rotate(90deg);
  position: absolute;
  right: 45.7%;
  top: 0%;
  z-index: 100000;
}
.triangle2 {
  width: 0; height: 0; line-height: 0;
  border-bottom: 50px solid #E7D9D4;
  border-left:   50px solid transparent;
  border-right:  50px solid transparent;
  transform: rotate(90deg);
  position: absolute;
  right: 45.7%;
  top: 10%;
  z-index: 100000;
}
.triangle3 {
  width: 0; height: 0; line-height: 0;
  border-bottom: 50px solid #E7D9D4;
  border-left:   50px solid transparent;
  border-right:  50px solid transparent;
  transform: rotate(90deg);
  position: absolute;
  right: 45.7%;
  top: 20%;
  z-index: 100000;
}
.triangle4 {
  width: 0; height: 0; line-height: 0;
  border-bottom: 50px solid #E7D9D4;
  border-left:   50px solid transparent;
  border-right:  50px solid transparent;
  transform: rotate(90deg);
  position: absolute;
  right: 45.7%;
  top: 30%;
  z-index: 100000;
}
.triangle5 {
  width: 0; height: 0; line-height: 0;
  border-bottom: 50px solid #E7D9D4;
  border-left:   50px solid transparent;
  border-right:  50px solid transparent;
  transform: rotate(90deg);
  position: absolute;
  right: 45.7%;
  top: 40%;
  z-index: 100000;
}
.triangle6 {
  width: 0; height: 0; line-height: 0;
  border-bottom: 50px solid #E7D9D4;
  border-left:   50px solid transparent;
  border-right:  50px solid transparent;
  transform: rotate(90deg);
  position: absolute;
  right: 45.7%;
  top: 50%;
  z-index: 100000;
}
.triangle7 {
  width: 0; height: 0; line-height: 0;
  border-bottom: 50px solid #E7D9D4;
  border-left:   50px solid transparent;
  border-right:  50px solid transparent;
  transform: rotate(90deg);
  position: absolute;
  right: 45.7%;
  top: 60%;
  z-index: 100000;
}
.triangle8 {
  width: 0; height: 0; line-height: 0;
  border-bottom: 50px solid #E7D9D4;
  border-left:   50px solid transparent;
  border-right:  50px solid transparent;
  transform: rotate(90deg);
  position: absolute;
  right: 45.7%;
  top: 60%;
  z-index: 100000;
}
.triangle9 {
  width: 0; height: 0; line-height: 0;
  border-bottom: 50px solid #E7D9D4;
  border-left:   50px solid transparent;
  border-right:  50px solid transparent;
  transform: rotate(90deg);
  position: absolute;
  right: 45.7%;
  top: 70%;
  z-index: 100000;
}
.triangle10 {
  width: 0; height: 0; line-height: 0;
  border-bottom: 50px solid #E7D9D4;
  border-left:   50px solid transparent;
  border-right:  50px solid transparent;
  transform: rotate(90deg);
  position: absolute;
  right: 45.7%;
  top: 80%;
  z-index: 100000;
}
.triangle11 {
  width: 0; height: 0; line-height: 0;
  border-bottom: 50px solid #E7D9D4;
  border-left:   50px solid transparent;
  border-right:  50px solid transparent;
  transform: rotate(90deg);
  position: absolute;
  right: 45.7%;
  top: 90%;
  z-index: 100000;
}
.black_triangle1 {
  width: 0; height: 0; line-height: 0;
  border-bottom: 50px solid black;
  border-left:   50px solid transparent;
  border-right:  50px solid transparent;
  transform: rotate(-90deg);
  position: absolute;
  right: 48.5%;
  top: 0%;
  z-index: 100000;
}
.black_triangle2 {
  width: 0; height: 0; line-height: 0;
  border-bottom: 50px solid black;
  border-left:   50px solid transparent;
  border-right:  50px solid transparent;
  transform: rotate(-90deg);
  position: absolute;
  right: 48.5%;
  top: 10%;
  z-index: 100000;
}
.black_triangle3 {
  width: 0; height: 0; line-height: 0;
  border-bottom: 50px solid black;
  border-left:   50px solid transparent;
  border-right:  50px solid transparent;
  transform: rotate(-90deg);
  position: absolute;
  right: 48.5%;
  top: 20%;
  z-index: 100000;
}
.black_triangle4 {
  width: 0; height: 0; line-height: 0;
  border-bottom: 50px solid black;
  border-left:   50px solid transparent;
  border-right:  50px solid transparent;
  transform: rotate(-90deg);
  position: absolute;
  right: 48.5%;
  top: 30%;
  z-index: 100000;
}
.black_triangle5 {
  width: 0; height: 0; line-height: 0;
  border-bottom: 50px solid black;
  border-left:   50px solid transparent;
  border-right:  50px solid transparent;
  transform: rotate(-90deg);
  position: absolute;
  right: 48.5%;
  top: 40%;
  z-index: 100000;
}
.black_triangle6 {
  width: 0; height: 0; line-height: 0;
  border-bottom: 50px solid black;
  border-left:   50px solid transparent;
  border-right:  50px solid transparent;
  transform: rotate(-90deg);
  position: absolute;
  right: 48.5%;
  top: 50%;
  z-index: 100000;
}
